.listTodo {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .item {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
  }

  .completed {
    text-decoration: line-through;
  }
  
  .delete {
    cursor: pointer;
  }
}